body {
    background-color: blue;
    color: #ffffff;
    min-height: 100vh;
}

h1,
h2,
h3 {
    color: #ffffff;
}

.title {
    color: #ffffff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    transition: .1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

p {
    font-size: 12px;
}

h1 {
    font-size: 40px;
}

.header {
    font-size: 100px;
    font-weight: bold;
}